
.component-form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.title-container-AF {
  margin-top: 6.4%;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title-container-AF p {
  width: 100%;
  font-size: 1.6rem;
  color: black;
  text-align: center;
  margin-bottom: 4.5vh;
  font-weight: 400;
}
.progress {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8vh;
}
.progress-bar-AF {
  display: block;
  width: 26%;
  height: 7pt;
  background-color: $redLight;
  border-radius: 3.5pt 0 0 3.5pt;
}
.remaining-progress-AF {
  display: block;
  width: 74.2%;
  height: 7pt;
  background-color: $redLight;
  border-radius: 0 3.5pt 3.5pt 0;
}
.form-container-AF {
  display: flex;
  flex-direction: column;
  width: 89%;
}
.form-container-AF h3 {
  width: 100%;
  font-size: 2rem;
  color: $ocean;
  font-weight: 600;
  margin-bottom: 8%;
}
.input-container-AF {
  height: 2.7vh;
  border-bottom: 1pt solid $blueCloud;
  margin-bottom: 3.6vh;
}
.input-form-AF {
  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
  height: 80%;
  font-size: 1.2rem;
  color: $dark;
}
.terms-container-AF {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.terms-container-AF p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: black;
}
.terms-container-AF input[type="checkbox"] {
  display: none;
}
.terms-container-AF input[type="checkbox"] + label span {
	display: inline-block;
	width: 6.4vw;
	height: 6.4vw;
	margin: -1px 4px 0 0;
	vertical-align: middle;
;
	background-size: cover;
  cursor: pointer;
  margin-right: 1vh;
}
.terms-container-AF input[type="checkbox"]:checked + label span {

  background-size: cover;
  margin-right: 1vh;
}
.btn-continue-AF {
  width: 89%;
  height: 6vh;
  background-color: $redLight;
  border: 0;
  border-radius: 4pt;
  color: white;
  font-size: 1.6rem;
  margin-top: 4.3vh;
  margin-bottom: 3.9vh;
}