
.total-container{
    width: 100%;
    height: 100vh;
}
  .user-data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 94%;
    height: 7.5%;
    border: 1pt solid $blueCloud;
    border-radius: 4pt;
    margin-bottom: 3.6vh;
  }
  .user-data-container h2{
    width: 85%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    color:  $ocean;
  }


.petsCrudContent{
  h2{
    text-align: center;
    color: $blueDark;
    margin-bottom: 2rem;
  }
  
  &__card{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid $redDark;
    border-radius: 15px;
    margin-bottom: 2rem;
    padding: $paddingMain 0;

    &--img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:80%;
      margin: 0 auto;
      border: 0;
      border-radius: 15px;
    }

    &--info{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: $marginMain;
      p{
        padding: $paddingMain - 1rem;
        margin-block-start: 0;
        margin-block-end: 0;
        span{
          font-weight:700;
        }
      }
    }

    &--button button{
      margin-top: 2rem;
      font-size: 1.2rem;
      color: $light;
      background-color: $redDark;
      border:0;
      border-radius: 15px;
      padding: 0.5rem $paddingMain;
    }
  }
}