.cont-preLog {
  background-image: url(../../../assets/img/fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cont-text {
    &__p {
      text-align: center;
      margin: 445px 88px 0px 88px;
      width: 198px;
      height: 24px;
      font-weight: 500;
      font-family:'Barlow', sans-serif
    }
  }
  .cont-buttons {
    display: flex;
    flex-direction: column;
    margin: 16px 90px;

    .button {
      background-color: rgb(1, 116, 142);
      border: 1px solid rgb(1, 116, 142);
      border-radius: 5px;
      width: 196px;
      height: 40px;
      margin: 8px;
      padding: 11px;
      p {
        color: white;
        padding: 0%;
        margin: 0%;
        font-size: 16px;
      }
    }
  }
  .p {
    font-size: 12px;
    margin: 0px 111px 48px;
  }
}
