//Global padding Variable for left and right paddings of app
$paddingMain: 1.5rem;
$marginMain: 1.5rem;
$marginBottomNavbar: 5rem;



.separation{
    border-bottom: 1px solid $blueCloud;
    width: 90%;
    margin: 0 auto;
}
